@import '../../styles/variables';
@import '../../styles/mixins';

.features {
  margin: 2rem 0;
}

.features__content,
.features__discussion {
  @include flex-center;
  flex-direction: column-reverse;
}

@media (min-width: 1080px) {
  .features__content {
    flex-direction: row;
    gap: 3rem;
  }

  .features__text {
    width: 50%;
  }

  .features__discussion {
    flex-direction: row-reverse;
    gap: 3rem;
  }
}

.features__list {
  list-style: none;

  li {
    color: $color-medium;
    font-family: $inter;
    font-size: 1.25rem;
    margin: 1.5rem 0;
    padding-left: 2rem;
    background: url('../../assets/images/icon-check.svg') no-repeat left center;
    background-size: 1.5rem;
  }
}

.features__image {
  margin: 1.5rem 0;
  img {
    border-radius: 1.5rem;
  }
}

.boldness {
  font-weight: 600;
}

.discussion__text {
  color: $color-medium;
  font-size: 1.25rem;
}
