@import '../../styles/variables';
@import '../../styles/mixins';

footer {
  padding: 5rem 0;
  background: url(../../assets/images/pattern-dark-bg.svg) $color-dark;
}

.footer__content {
  @include flex-center;
  flex-direction: column;
  @media (min-width: 765px) {
    @include flex-center;
    margin: 0 auto;
    text-align: center;
    max-width: 750px;
  }
}

.cta__data--white {
  color: $color-white;
}
